/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f9f9f9;
  color: #000;
}

.container {
  padding: 40px;
  max-width: 600px;
}

.titulo {
  font-size: 2.8rem;
  font-weight: 900;
  margin-bottom: 10px;
}

/* Botón cargar */
.btn-cargar {
  background: black;
  color: white;
  font-size: 1.1rem;
  padding: 10px 25px;
  border-radius: 25px;
  border: none;
  margin: 15px 0;
}

.btn-cargar:hover {
  background: #333;
}

/* Preview */
.preview-container {
  margin: 20px auto;
  width: 300px;
  height: 200px;
  border: 3px solid black;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#preview {
  max-width: 100%;
  max-height: 100%;
  display: none;
}

/* Botón analizar */
.btn-analizar {
  background: black;
  color: white;
  font-size: 1.2rem;
  padding: 10px 35px;
  border-radius: 25px;
  border: none;
  margin-top: 20px;
}

.btn-analizar:disabled {
  background: #999;
}

/* Barra de progreso */
.progress-bar-custom {
  width: 60%;
  height: 15px;
  background: white;
  border: 2px solid black;
  border-radius: 20px;
  margin: 20px auto;
  display: none;
}

#progress {
  width: 0%;
  height: 100%;
  background: black;
  border-radius: 20px;
}

.info-box {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background: #d9d9d9;
  padding: 20px;
  margin-top: 30px;
  border-radius: 0; /* quita los bordes redondeados para que llegue hasta los bordes */
  box-sizing: border-box;
}


.btn-mas {
  background: linear-gradient(180deg, #004080, #00264d);
  color: white;
  font-size: 1.3rem;        /* letra más grande */
  font-weight: bold;        /* más gruesa */
  padding: 15px 40px;       /* más grande el botón */
  border-radius: 30px;
  border: none;
  margin-top: 15px;
  text-decoration: none;    /* quita el subrayado */
  display: inline-block;    /* mantiene el estilo tipo botón */
  text-align: center;       /* centra el texto */
}

.btn-mas:hover {
  opacity: 0.9;
}

/* Footer */
footer {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  text-align: center;
  padding: 20px;
  background: #023047;
  color: white;
  box-sizing: border-box;
}


footer a {
  color: #00b4d8;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Ajuste del logo */
.logo-img {
  height: 40px; /* Cambia el tamaño */
  width: auto;
}

/* Fondo degradado de la barra de navegación */
.custom-navbar {
  background: linear-gradient(90deg, #cce5ff, #ffffff);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Cambiar color de letras a negro */
.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
  color: #000 !important;
}

/* Efecto hover en links */
.custom-navbar .nav-link:hover {
  text-decoration: underline;
  font-weight: 600;
}

/* Ajuste del logo */
.logo-img {
  height: 40px; /* Cambia el tamaño */
  width: auto;
}

